* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.timeline {
  position: relative;
  min-height: 80vh;
  /* overflow: hidden; */
}

.line {
  position: absolute;
  width: 3px;
  background-color: #7a7a7a;
  min-height: -webkit-fill-available;
  left: calc(50% - 1.5px);
  /* display: none; */
}

.inner-line,
.inner-line-container {
  position: absolute;
  top: 0;
  width: 3px;
  background-color: #fff;
  left: calc(50% - 1.5px);
  /* display: none; */
}
.inner-line-container {
  overflow: hidden;
}

.line::after,
.line::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #7a7a7a;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

/* .line::before {
  bottom: 0;
} */

.section {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.section:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.section:nth-child(even) .section-item {
  transform: translateX(100%);
  padding-left: 20px;
}

.section:nth-child(odd) h3 {
  text-align: right;
}

.section:nth-child(odd) .section-item {
  padding-right: 20px;
}

.section:last-child .section-item {
  padding-bottom: 0;
}

.section-item {
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  width: 50%;
  padding-bottom: 70px;
}

.circle {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #7a7a7a;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 50%;
}
